<template>
  <section role="banner" class="xrSuperHero" :class="classObject">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-quarters is-half-widescreen">
          <h1 class="xrSuperHero__title">
            <slot />
          </h1>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Banner',
  props: {
    blockPrint: {
      type: String,
      default: undefined,
      required: false,
    },
    colour: {
      type: String,
      default: undefined,
      required: false,
    },
  },
  computed: {
    classObject () {
      return {
        ['xrSuperHero--' + this.colour]: this.colour,
        ['xrBlockPrint--' + this.blockPrint]: this.blockPrint,
      }
    },
  },
}
</script>

<style lang="scss">
  @import "~@xrmcr-digital/xr-theme/src/_variables";
  @import "~@xrmcr-digital/xr-theme/src/_functions";
  @import "~@xrmcr-digital/xr-theme/src/_mixins";
  @import "~@xrmcr-digital/xr-theme/src/components/super-hero";
</style>
