<template>
  <footer class="section xrBg--black xrFg--white xrPv--lg">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-quarters is-half-widescreen">
          <p class="xrMb--none">
            &copy; Extinction Rebellion 2019.
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>
