<template>
  <header class="section xrBg--warmYellow xrPv--sm">
    <div class="header">
      <XrLogo class="header__logo" />
    </div>
  </header>
</template>

<script>
import XrLogo from './XrLogo.vue'

export default {
  name: 'Header',
  components: {
    XrLogo,
  },
}
</script>

<style lang="scss">

  @import "~@xrmcr-digital/xr-theme/src/_variables/colours";

  .header {
    text-align: center;
  }

  .header__logo {
    width: 150px;
  }

  .header__logo path {
    fill: $xr-black;
  }

</style>
