<template>
  <div class="page">
    <div class="page__header">
      <Header />
    </div>

    <div class="page__body">
      <nuxt />
    </div>

    <div class="page__footer">
      <Footer />
    </div>
  </div>
</template>

<script>
import Header from '~/components/Header.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    Header,
    Footer,
  }
}
</script>

<style lang="scss">
@import 'assets/variable-overrides';

@import '~@xrmcr-digital/fonts-fucxed-caps';
@import '~@xrmcr-digital/fonts-crimson-text';

@import '~@xrmcr-digital/xr-theme/src/_variables';
@import '~@xrmcr-digital/xr-theme/src/_mixins';
@import '~@xrmcr-digital/xr-theme/src/_functions';
@import '~@xrmcr-digital/xr-theme/src/globals';
@import '~@xrmcr-digital/xr-theme/src/utilities';
</style>

<style lang="css" scoped>

  .page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .page__body {
    flex-grow: 1;
  }

</style>
