<template>
  <div>
    <Banner block-print="skull" colour="lightPink">
      The North is Rebelling
    </Banner>

    <div class="container xrPv--lg">
      <div class="columns is-centered">
        <div class="column is-three-quarters is-half-widescreen">
          <h2>The Time is NOW!</h2>

          <p>
            "Sometimes it falls upon a generation to be great", said Mandela.
          </p>

          <p>
            History is calling from the future, a
            hundred years from now, half a hundred years. Ten. Today. Calling the conscience of humanity to act with
            the <strong>fierce urgency of now</strong>. This is the time.
          </p>

          <p>
            <strong>Wherever we are standing is the place.</strong>
          </p>

          <p>
            We have just this one flickering instant to hold the wings of the world in our hands, to vouchsafe the
            future. This is what destiny feels like.
          </p>

          <p>
            <strong>We have to be greater than we have ever been.</strong>
          </p>

          <p>
            Dedicated, selfless, self sacrificial. Only when it is dark enough can you see the stars and they are
            lining up now to write <strong>Rebellion</strong> across the skies.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Banner from '~/components/Banner.vue'

export default {
  components: {
    Banner,
  },
}
</script>

<style></style>
